<ul>
	<li>
		<a href="/">介绍</a>
	</li>
</ul>
<h2>
	理论
</h2>
<ul>
	<li><a href="/theory/sql/">SQL</a></li>
	<li><a href="/theory/reliability/">可靠性</a></li>
	<li><a href="/theory/performance-indicators/">性能指标</a></li>
	<li><a href="/theory/atomicity/">原子性</a></li>
	<li><a href="/theory/lock/">锁</a></li>
	<li><a href="/theory/microservice/">微服务</a></li>
	<li><a href="/theory/right-concept/">直达正确的概念</a></li>
	<li><a href="/theory/stat/">统计</a></li>
</ul>
<ul>
	<li><a href="/theory/monitor-logs/">代码中的监控日志</a></li>
</ul>
<h2>
	实践
</h2>
<ul>
	<li><a href="/practice/finance/">财务</a></li>
	<li><a href="/practice/friends/">好友关系</a></li>
</ul>
<h2>
	部署
</h2>
<ul>
	<li><a href="/ops/daemon/">守护进程</a></li>
	<li><a href="/ops/k8s/">一个小时学会Kubernetes部署应用</a></li>
</ul>
<h2>
	Golang
</h2>
<ul>
	<li><a href="/golang/var_new_make/">go 中 var new make 的区别</a></li>
	<li><a href="https://goclub.run/error">错误处理</a></li>
</ul>
<hr/>
<ul>
	<li><a href="https://github.com/nimoc/be/discussions" target="_blank">社区</a></li>
</ul>
<style>
.nav h3 {
	font: 12px -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
	font-weight: bold;
	color: rgba(136,153,168,1.00);
	margin-bottom: 16px;
	margin-top: 16px;
	padding-left: 1.2em;
}
</style>